@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

* {
	-fx-font-family: 'M PLUS Rounded 1c', sans-serif;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box {
    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-border-radius: 0;
    -fx-border-insets: 0;
}

.table-view {
	/* -fx-background-radius: 20px 20px 0 0; */
	-fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #38424b; 
    
}

.table-view .column-header .label {
   -fx-font-family: 'Raleway', sans-serif;
   -fx-font-size: 13px;
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-padding: 5;
}

.table-row-cell:selected {
   -fx-background-color: #a7a7a8; 
}

.table-row-cell {
    -fx-cell-size: 25px;
    -fx-border-color: transparent; 
}

.label {
	-fx-text-fill: black;
	-fx-font-family: 'Raleway', sans-serif;
}

.tab-pane {
    -fx-background-color: white;
}

.tab-pane .tab {
	-fx-cursor:hand;
    -fx-background-color: white;
    -fx-padding: 5px;
}

#history-pane {
	-fx-background-color: #ebebeb;
}

#dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 13px;
    -fx-padding: 5 10 5 10;
    -fx-border-color: transparent; 
}

